@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');

@import "tailwindcss";

:root {
  --background: #F9F9FF;
  --foreground: #242222;
  --colorbg : #ccccdd;
  --border: #5e5a5a;
  --primary : #050607;
}


@font-face {
  font-family: 'Benne';
  src: url('/fonts/Benne-Regular.woff2') format('woff2'),
       url('/fonts/Benne-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #06060B;
    --foreground: #ededed;
    --colorbgdark : #10101B;
    --colorbgdark1 : #3C3B56;
    --borderdark: #686868;
    --primarydark: #BEC9F4;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Benne', serif;
}

.bgclr{
  background-color: #DFDEEF;
}